{{ "<!-- PROJECTS -->" | safeHTML }}
<section class="section projects" id="projects_{{ trim .Dir "/\\" }}">
    {{ $path := replace .Dir "\\" "/" }}
    {{ with .Title }}
        <a href="/{{ $path }}" class="container-fluid padding-title">
            <div class="row">
                <div class="col-md-8 text-right">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </a>
    {{ end }}
    <div class="container-fluid">ggg
        <div class="row no-gutter">sss
            {{ if .Sections }}
                {{/* Sort the list */}}
                {{ partial "utils/ordered-list.html" (dict "list" .Sections "params" .Params "scratch" .Scratch) }}
                {{ range (.Scratch.Get "list") }}
                    {{ .Render "limage" }}
                {{ end }}
                {{ .Scratch.Delete "list" }}
            {{ end }}
        </div>
    </div>
</section>
