{{ "<!-- SIDEBAR.HTML -->" | safeHTML }}
<div class="sidebar sticky">
    {{ "<!-- Small Image -->" | safeHTML }}
    {{ if .Params.small_image }}
        {{ $image := .Resources.GetMatch .Params.small_image }}
        {{ with $image }}
            <div class="sidebar-image">
                {{ if $.Params.small_url }}
                <a href="{{ $.Params.small_url | absURL }}" target="_blank">
                {{ end }}
                    {{ $alt := or $.Params.small_url "" }}
                    <img src="{{ .Permalink }}" alt="{{ $alt }}">
                {{ if $.Params.small_url }}
                </a>
                {{ end }}
            </div>
        {{ end }}
    {{ else }}
        <div class="empty-padding"></div>
    {{ end }}

    {{ "<!-- Navigation Tree -->" | safeHTML }}
    <div class="sidebar-tree">
        {{ if .Parent }}
            {{ with .Parent }}
                <a class="parent-link" href="{{ .Permalink }}">
                    {{ if not .IsHome }}
                        <i class="fas fa-chevron-circle-left"></i>
                        {{ .Title }}
                    {{ else }}
                        <i class="fas fa-home"></i>
                        HOME
                    {{ end }}
                </a>
            {{ end }}
        {{ else }}
            {{/* JavaScript should be moved to common/external JS file */}}
            <a href="javascript:void(0)" class="parent-link" onclick="javascript:window.history.back()">
                <i class="fas fa-chevron-circle-left"></i>
                BACK
            </a>
        {{ end }}

        {{ if (or (not (isset .Params "showbrothers")) (.Params.showbrothers)) }}
            {{ if .Parent }}
                {{ if eq .Kind "section" }}
                    {{ partial "utils/ordered-list.html" (dict "list" .Parent.Sections "params" .Parent.Params "scratch" .Scratch) }}
                {{ else }}
                    {{/* TODO: make this return entries around this entry, not just the most recent 10 */}}
                    {{ partial "utils/ordered-list.html" (dict "list" ( .Parent.Pages | first 10 ) "params" .Parent.Params "scratch" .Scratch) }}
                {{ end }}

                {{ $current := . }}
                <ul>
                    {{ range (.Scratch.Get "list") }}
                        {{ if eq $current . }}
                        <li class="active">
                        {{ else }}
                        <li>
                        {{ end }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                    {{ if not .IsHome }}
                        {{ with .Parent }}
                        <li>
                            <a href="{{ .Permalink }}">../</a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>

                {{ .Scratch.Delete "list" }}
            {{ end }}
        {{ end }}
    </div>
</div>
