{{ $fixed := .fixed }}
{{ with .context }}
    {{ if .Site.Params.navigation.links }}
        {{ "<!-- NAVIGATION -->" | safeHTML }}
        {{ if $fixed }}
        <nav id="navFixed" class="navbar navbar-default navbar-fixed-top">
        {{ else }}
        <nav id="navNotFixed" class="navbar navbar-default">
        {{ end }}
            <div class="container-fluid">
                {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{ with .Site.Params.navigation.brand }}
                        <a class="navbar-brand page-scroll" href="#">{{ . | markdownify }}</a>
                    {{ end }}
                </div>
                {{ "<!-- Get the navigation menu entries and create the links -->" | safeHTML }}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {{ $links := .Site.Params.navigation.links }}
                        {{ range .Site.Params.homepage.sections }}
                            {{ if and (eq . "about") $links.about }}
                                <li>
                                    <a class="page-scroll" href="#about">{{ $links.about }}</a>
                                </li>
                            {{ else if and (eq . "services") $links.services }}
                                <li>
                                    <a class="page-scroll" href="#services">{{ $links.services }}</a>
                                </li>
                            {{ else if and (eq . "skills") $links.skills }}
                                <li>
                                    <a class="page-scroll" href="#skills">{{ $links.skills }}</a>
                                </li>
                            {{ else if and (eq . "blog") $links.blog }}
                                <li>
                                    <a class="page-scroll" href="#blog">{{ $links.blog }}</a>
                                </li>
                            {{ else if and (eq . "projects") $links.projects }}
                                {{ $categories := $.context.Site.Params.projects.categories }}
                                {{ range $links.projects }}
                                    {{ if in $categories .section }}
                                        <li>
                                            <a class="page-scroll" href="#projects_{{ .section }}">{{ .label }}</a>
                                        </li>
                                    {{ end }}
                                {{ end }}
                            {{ else if and (eq . "contact") $links.contact }}
                                <li>
                                    <a class="page-scroll" href="#contact">{{ $links.contact }}</a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                {{ "<!-- /.navbar-collapse -->" | safeHTML }}
            </div>
            {{ "<!-- /.container-fluid -->" | safeHTML }}
        </nav>
    {{ end }}
{{ end }}
